*{
    margin: 0;padding: 0;
}
body{
    background-color: #fca311;
}
#clock-container{
    position: relative;
    margin: auto;
    margin-top:10%;
    height: 60vh;
    width: 60vh;
    background: url(./images/analogclocknohead.png) no-repeat;
    background-size: contain;
}
#hour-head{
    position: absolute;
    height: 16vh;
    width: 0.7vw;
    background-color: #000000;
    border-radius: 10px;
    top: 23.5%;
    left: 49.65%;
    transform-origin: bottom;

}
#min-head{
    position: absolute;
    height: 20vh;
    width: 0.4vw;
    background-color: #000000cc;
    border-radius: 10px;
    top: 16.4%;
    left: 49.5%;
    transform-origin: bottom;

}
#sec-head{
    position: absolute;
    height: 26vh;
    width: 0.2vw;
    background-color: #020202cc;
    border-radius: 10px;
    top: 6.55%;
    left: 49.9%;
    transform-origin: bottom;


}